<table class="table table-bordered table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th class="w-25 text-center">
                <em class="fa fa-calendar fa-fw"></em>
                <span class="hidden-sm-down">When</span>
            </th>
            <th class="w-25 text-center">
                <em class="fa fa-map-marker fa-fw"></em>
                <span class="hidden-sm-down">Where</span>
            </th>
            <th class="w-50 text-center">
                <em class="fa fa-meetup fa-fw"></em>
                <span class="hidden-sm-down">Meetup</span>
            </th>
        </tr>
    </thead>

    {% for meetup in meetups %}
        {% set daysFromToday = diffFromTodayInDays(meetup.start) %}

        {% if daysFromToday >= minDays and daysFromToday < maxDays %}
            <tr class="meetup" data-longitude="{{ meetup.longitude }}" data-latitude="{{ meetup.latitude}}">
                <td class="w-25 text-center">
                    <div class="hidden-md-up">
                        <nobr>{{ meetup.start|date("m-d") }}</nobr>
                    </div>
                    <div class="hidden-md-up">
                        <small>{{ meetup.start|date("H:i") }}</small>
                    </div>

                    <div class="hidden-sm-down">
                        {{ meetup.start|date("D m-d") }}
                        &nbsp;
                        &nbsp;
                        <small>{{ meetup.start|date("H:i") }}</small>
                    </div>
                </td>
                <td class="w-25">{{ meetup.city }}, {{ meetup.country }}</td>
                <td class="w-50">
                    <strong>
                        <a href="{{ meetup.url }}">{{ meetup.name }}</a>
                    </strong>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
