<div id="table"></div>

<table class="table table-bordered table-responsive" id="table-meetups">
    <thead class="thead-inverse">
        <tr>
            <th class="w-25 text-center">When</th>
            <th class="w-25 text-center">Where</th>
            <th class="w-50 text-center">Meetup</th>
        </tr>
    </thead>

    {# @todo http://plnkr.co/edit/mdeEYoZtnvpfHCdtSxDP?p=preview&preview #}
    {# @todo https://stackoverflow.com/questions/38717543/how-do-i-filter-date-range-in-datatables #}

    {# @var meetup \Fop\Core\ValueObject\Meetup #}
    {% for meetup in meetups %}
        {% if meetup.startInDays <= max_forecast_days %}
            <tr class="meetup" data-longitude="{{ meetup.longitude }}" data-latitude="{{ meetup.latitude}}" data-datetime="{{ meetup.startDateTime|date("Y-m-d H:i") }}">
                <td class="w-25">
                    <span class="text-nowrap text-{% if meetup.startInDays < 7 %}success{% elseif meetup.startInDays < 14 %}warning{% else %}danger{% endif %}">
                        {{ meetup.startDateTime|date("D") }},
                        <strong>{{ meetup.startDateTime|date("M d") }}</strong>
                    </span>

                    <br>

                    <small class="text-secondary">{{ meetup.startDateTime|date("H:i") }}</small>
                </td>
                <td class="w-25">
                    <a href="#" onclick="relocate({{ meetup.latitude }}, {{ meetup.longitude }})">
                        {{ meetup.city }}
                    </a>

                    <br>

                    <small class="text-secondary">{{ meetup.country }}</small>
                </td>
                <td class="w-50">
                    <strong>
                        <a href="{{ meetup.url }}">{{ meetup.name }}</a>
                    </strong>

                    <br>

                    <small class="text-secondary">{{ meetup.userGroup }}</small>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
