<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    {# mobile #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">

    {# Font Awesome - locally for css classes autocomplete #}
    <link href="/assets/font-awesome/css/font-awesome.min.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# Twitter Bootstrap - locally for css classes autocomplete #}
    <link href="/assets/bootstrap/bootstrap.min.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# this is the last, so prism can be overriden here #}
    <link href="/assets/style.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# openstreemaps #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.2/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <script type="text/javascript">
        // set defaults to local storage
        if (window.localStorage.getItem('active_area') === null) {
            window.localStorage.setItem('active_area', '{{ default_area_key }}');
        }
    </script>
</head>
