<table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
        <th class="text-center" colspan="2">
            <em class="fa fa-calendar fa-fw"></em>
            When
        </th>
        <th class="text-center">
            <em class="fa fa-map-marker fa-fw"></em>
            Where
        </th>
        <th class="text-center">
            <em class="fa fa-meetup fa-fw"></em>
            Meetup
        </th>
    </tr>
    </thead>

    <p>There are {{ meetups|length }} upcoming meetups</p>

    {% for meetup in meetups %}
        {% set daysFromToday = diffFromTodayInDays(meetup.start) %}

        {% if daysFromToday >= 0 %}
            <tr class="meetup-with-area-{{ detect_meetup_area(meetup) }}">
                <td class="text-center {% if daysFromToday <= 7 %} bg-success text-white{% endif %}">
                    {% include "_snippets/add_to_calendar_button.twig" %}
                </td>
                <td class="text-center{% if daysFromToday <= 7 %} bg-success text-white{% endif %}">
                    <strong>{{ meetup.start|date("D m-d") }}</strong>
                    &nbsp;
                    &nbsp;
                    <small>{{ meetup.start|date("H:i") }}</small>
                </td>
                <td>{{ meetup.city }}, {{ meetup.country }}</td>
                <td>
                    <a href="{{ meetup.url }}">{{ meetup.name }}</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
