{% set title %}What PHP Groups are Out There?{% endset %}

{% extends 'base.twig' %}

{% block content %}
    <div class="container-fluid" id="groups">
        <div class="text-center">
            <h2 class="pt-4 pb-4">We Check <strong>{{ group_count }} Active Groups</strong> on Meetup.com Everyday!</h2>
        </div>

        <p>Active Groups? Yes! All these groups had at least one meetup in last 180 days.</p>

        <table class="table table-bordered table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th class="w-50 text-center">Group Name</th>
                    <th class="w-50 text-center">Last Meetup</th>
                </tr>
            </thead>
        </table>

        {% for country, groups in groups_by_country %}
            <table class="table table-bordered table-responsive mb-5 mt-5">
                <thead class="thead-inverse">
                    <tr>
                        <th colspan="2" class="text-center">
                            <h3 id="{{ country|webalize }}">
                                <a href="#{{ country|webalize }}">{{ country }}</a>
                            </h3>
                        </th>
                    </tr>
                </thead>

                {% for group in groups %}
                    <tr>
                        <td class="w-50">
                            <strong>
                                <a href="https://meetup.com/{{ group.meetupComSlug }}">{{ group.name }}</a>
                            </strong>
                        </td>

                        {% if group.lastMeetupDateTime != null %}
                            <td class="w-50 text-{% if group.daysFromLastMeetup < -180 %}danger{% elseif group.daysFromLastMeetup < -90 %}warning{% else %}success{% endif %}">
                                {{ group.lastMeetupDateTime|date("M d, Y") }}
                            </td>
                        {% else %}
                            <td>
                                &ndash;
                                {{ group.lastMeetupDateTime != null }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
