---
title: "What PHP Groups are Out There?"
layout: "_layouts/default.twig"
---

<div class="container-fluid" id="groups">
    <div class="text-center">
        <h2 class="pt-4 pb-4">We Check <strong>{{ groups|length }} Active Groups</strong> on Meetup.com Everyday!</h2>
        <a href="https://github.com/TomasVotruba/friendsofphp.org/edit/master/source/_data/groups.yaml" class="btn btn-success btn-lg mt-1 mb-4">Add Your Group!</a>
    </div>

    <p>Active Groups? Yes! All these groups had at least one meetup in last 12 months.</p>

    {% set groups_sorted_by_name = sort_by_field(groups, 'name') %}
    {% set groups_by_country = group_by_field(groups_sorted_by_name, 'country') %}

    {% for country, groups in groups_by_country %}
        <h2 id="{{ country|webalize }}" class="mt-5 mb-1">
            <strong>
                <a href="#{{ country|webalize }}">{{ country }}</a>
            </strong>
        </h2>

        {% if groups|length > 1 %}
            <p class="text-muted">
                ({{ groups|length }} groups)
            </p>
        {% endif %}

        <table class="table table-bordered table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th class="w-25 text-center">Group Name</th>
                    <th class="w-25 text-center">Last Meetup</th>
                </tr>
            </thead>
            {% for group in groups %}
                {% set last_meetup_date = last_meetup_date_by_group_slug(group.meetup_com_slug) %}
                {% set days_from_today = diff_from_today_in_days(last_meetup_date) %}

                {# @var group \Fop\Twig\Autocomplete\GroupAutocomplete #}
                <tr>
                    <td>
                        <strong>
                            <a href="https://meetup.com/{{ group.meetup_com_slug }}">{{ group.name }}</a>
                        </strong>
                    </td>

                    <td class="text-{% if days_from_today < -300 %}danger{% elseif days_from_today < -100 %}warning{% else %}success{% endif %}">
                        {{ last_meetup_date|date("M d, Y") }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
