---
title: "When & where your friends meet?"
layout: "_layouts/default.twig"
---

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center pt-5 pb-5">Friends of PHP - European PHP Meetups at 1 place</h1>

            {# https://developers.google.com/maps/documentation/javascript/markers #}
            <div class="card">
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>

            <br>

            <table class="table table-striped table-bordered">
                <tr>
                    <thead class="thead-inverse">
                        <th>When</th>
                        <th>Where</th>
                        <th>Name</th>
                    </thead>
                </tr>
                {% for meetup in meetups %}
                    <tr>
                        <td>{{ meetup.start|date("Y-m-d H:i") }}</td>
                        <td>
                            {{ meetup.city }}, {{ meetup.country }}
                        </td>
                        <td>{{ meetup.name }}</td>
                    </tr>
                {% endfor %}
            </table>

            {# inspiration https://stackoverflow.com/a/3059129/1348344 #}
            <script type="text/javascript">
                function initMap() {
                    var locations = [
                        {% for meetup in meetups %}
                            ['{{ meetup.start|date("Y-m-d H:i") }} - {{ meetup.name }}', {{ meetup.latitude }}, {{ meetup.longitude }}, {{ loop.index }} ],
                        {% endfor %}
                    ];

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        // west-central Europe focus
                        center: new google.maps.LatLng(50.6007456,8.1220082),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;

                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                                infowindow.setContent(locations[i][0]);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}
