---
title: "Meet Your Friends of PHP"
layout: "_layouts/map_layout.twig"
---

{# sort meetups from all imported files from nearest to the most further one #}
{% set meetups = sort_by_field(meetups, 'start') %}

<div id="subhead" class="pt-0 pb-4 text-center">
    <strong>{{ meetups|length }} meetups</strong> in next {{ max_forecast_days }} days from <a href="/groups/">{{ groups|length }} groups</a> all over the world
</div>

<p class="text-center pb-2">
    <a href="#-" onclick="locateme();" class="btn btn-primary">Locate me</a>
    <a href="" onclick="share_bounds();" class="share-link-bounds btn btn-warning ml-3">Share Current Map</a>
    <a href="/api/" class="btn btn-danger ml-3">API?</a>
</p>

<a name="map"></a>
<div id="{{ map_id }}" class="mr-4"></div>

<div class="text-center pt-3 pb-3">
    <small class="text-secondary">
        <span id="map_metadata"></span>
        <span class="pl-5">Regenerated at {{ "now"|date("D, M d - H:i") }}</span>
    </small>
</div>

{% include "_snippets/meetups/map_and_table.twig" %}
